.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
}

.swiper-slide img {
  display: block;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
}
.image-swiper-button-next,
.image-swiper-button-prev {
  color: #5F5F5F;
  cursor: pointer;
  position: relative;
  cursor: pointer;
}
.swiper-button-disabled{
    
    color: #C4C4C4;
}
