.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
}

.swiper-slide img {
  display: block;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
}
.image-swiper-button-next,
.image-swiper-button-prev {
  color: #ff5600;
  font-size: 10px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
